/node_modules
/public/hot
/public/storage
/public/uploads/*
/public/orderLogs/order.log
/public/orderLogs/*
/storage/*.key
/storage/logs
/public/build/*
/storage/framework/views/*
/storage/framework/sessions/*
/storage/framework/cache/*
/vendor
/.idea
/.idea/*
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
