body {
  font-family: IRANSans;
  background-color: white;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(230deg, #7989ff 0%, #2a1980 100%);
}

html {
  height: 100%;
}

.help-block {
  color: #cc5965;
  display: inline-block;
  margin-left: 5px;
}

.height {
  height: 100%;
}

.logoDiv {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 15px;
}

.logoDiv > div {
  background-image: url(/images/asarad.png?4e8713f10cc6eecf627282e29ed0bc96);
  height: 35px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
}

.logoDiv > p {
  opacity: 0.5;
  margin: 0;
  padding: 0;
  color: #ffffff;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 400;
}

.mainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.centerBlockMainDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginDiv {
  background-color: white;
  box-shadow: -2px 7px 14px rgba(0, 0, 0, 0.03);
  border-radius: 19px;
  padding: 0;
}

.titleDiv {
  padding-bottom: 25px;
}

.titleDiv > p:nth-child(1) {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}

.titleDiv > p:nth-child(2) {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
}

.nav-tabs {
  border-bottom: 1px solid #efebeb !important;
}

.nav-tabs > li {
  width: 50% !important;
  text-align: center !important;
  height: 66px !important;
}

.nav-tabs > li > a {
  border: none !important;
  height: 66px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  color: #5f5f5f;
  font-size: 18px !important;
  font-weight: 300;
  margin: 0;
}

.nav-tabs .icon {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

@media (min-width: 768px) {
  .nav-tabs .icon {
    margin: 12px;
  }
}

.nav-tabs .operator-icon {
  background-image: url(/images/gray-operator.png?aae4176552ebeda7cfbd6802f59da57a);
}

.nav-tabs .manager-icon {
  background-image: url(/images/gray-manager.png?99f50dc6235a14a1fa95f44feb75780d);
}

.tab-content {
  padding-bottom: 28px;
  padding-top: 28px;
}

.tab-content .control-label {
  font-weight: 400;
  font-size: 15px;
  color: #363636;
}

.tab-content .inputDiv {
  display: flex;
  flex-direction: column-reverse;
}

.tab-content .errorDiv {
  height: 40px !important;
}

.tab-content .errorLabel {
  width: 100%;
  display: block !important;
  height: 40px !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border-bottom: 2px solid #365cff !important;
  color: #3255ff;
  font-size: 18px;
  font-weight: 400;
}

.nav-tabs > li.active > a .operator-icon,
.nav-tabs > li.active > a:hover .operator-icon,
.nav-tabs > li.active > a:focus .operator-icon {
  background-image: url(/images/operator.png?28ee2c5038feeb3da1fab2392d60c9ae);
}

.nav-tabs > li.active > a .manager-icon,
.nav-tabs > li.active > a:hover .manager-icon,
.nav-tabs > li.active > a:focus .manager-icon {
  background-image: url(/images/manager.png?37df2d49103323462a71fb577d794b30);
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-top-left-radius: 19px;
  border-top-right-radius: 19px;
  background-color: white;
  border-bottom: 1px solid #efebeb !important;
}

.form-control:focus,
.single-line:focus {
  border-color: #365dff !important;
}

.form-control:focus + .control-label,
.single-line:focus + .control-label {
  color: #365dff;
}

input {
  height: 46px !important;
  border-radius: 8px !important;
  border: 2px solid #363636 !important;
}

.loginBtn {
  height: 46px !important;
  box-shadow: 1px 4px 7px rgba(53, 91, 255, 0.36);
  border-radius: 8px;
  background-image: linear-gradient(247deg, #6ed0ff 0%, #3255ff 100%);
  border: none !important;
  color: #ffffff !important;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
}

